* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    background-color: red;
    display: flex;
    flex-direction: row;
}

.flex-item {
    width: 150px;
    height: 150px;
    background-color: yellow;
    margin: 10px;
}